.cast-container .choice-column span {
  width: 100%;
  display: block;
  border: 1px solid lightgrey;
  border-width: 0 0 1px;
  padding: 12px 20px;
}

.cast-container .choice-column span:last-child {
  border: none;
}

.cast-container .choice-column td:last-child {
  padding: 0;
}

.cast-container table {
  font-size: 15px;
}

.cast-container table th {
  vertical-align: middle!important;
  width: 20%;
}