.App {
  padding: 64px 0;
}

.App .app-header {
  text-align: center;
}

.App .logo {
    width: 250px !important;
    margin-bottom: 16px;
}

.back-button {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold
}