.create-vote-token {
  min-width: 595px;
  padding-left: 35px!important;
  padding-right: 35px!important;
}

.create-vote-token .container {
  max-width: 1170px!important;
}

.create-vote-token.container .btn {
  background: #ececec;
  color: #322f31;
  outline: none!important;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 0;
  margin-right: 10px;
  width: 31%;
  cursor: unset!important;
  height: 60px;
}

.create-vote-token .btn.active {
  background: #777777;
  color: white;
}

.create-vote-token .configure:before {
  background: unset!important;
}

.create-vote-token .publish:after {
  background: unset!important;
}

.previous-button {
  float: right;
  background: #24a5dc;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 15px;
  margin-top: -5px;
  border: none;
  cursor: pointer;
}