.pr-0 { padding-right: 0 }
.pl-0 { padding-left: 0 }
.pt-0 { padding-top: 0 }
.pb-0 { padding-bottom: 0 }
.padding-0 { padding: 0!important }

.cl-black { color: #000 }

.f_15 { font-size: 15px }

.progress,.progress .bar {
  border-radius: 0!important;
}

.container .ui.progress.success .bar {
  background: #24a5dc!important
}

button {
  border-radius: 0!important;
  outline: none;
  cursor: pointer!important;
}

button:focus {
  outline: none!important;
}

table th, table td {
  padding: 1.5rem!important;
}

table tr.choice-column td {
  padding: 0!important;
}

@media(min-width: 576px) {
  .step-header {
    max-width: unset!important;
  }
  .container {
    max-width: unset;
  }
}

@media(min-width: 768px) {
  .step-header {
    max-width: 745px!important;
  }
}

@media(min-width: 992px) {
  .step-header {
    max-width: 1010px!important;
  }
}

@media(min-width: 1200px) {
  .step-header {
    max-width: 1210px!important;
  }
}